*{margin: 0; padding: 0; border: 0; outline: 0;}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.flexcontainer{
	position: relative;
	flex: 1;
}

.header_and_banner {
	padding-bottom: 385px;
	background: url(../img/slider.png) no-repeat top center;
	position: relative;
}

header {
	display: flex;
	justify-content: center;
}

main {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	clear: both;
}

footer {
	width: 100%;
}

/*Header*/

.logo {
	display: block;
	float: left;
	width: 64px;
	height: 57px;
	padding-top: 40px;
	margin-left: 15px;
}

.logo_text {
	display: inline-block;
	float: left;
	margin-top: 50px;
	margin-right: 190px;
	width: 115px;
	height: 26px;
}

.main_nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 30px;
}

.main_nav li {
	margin-right: 28px;
}

.about_us {
	color: rgb(199, 178, 153) !important;
}

.main_nav li,
.main_nav a {
	list-style: none;
	text-decoration: none;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.2;
}

.main_nav ul {
	padding-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 40px;
}

.main_nav a:hover {
	color: orange;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 70px;
	margin-left: 25px;
	margin-top: 40px;
	position: relative;
}

.icons form button {
	position: relative;
	cursor: pointer;
	background: none;
}

.search_field {
	display: none;
	width: 200px;
	height: 24px;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	background: none;
	position: absolute;
	top: 15px;
	right: -200px;
	z-index: 1;
	margin-left: 20px;
	padding-left: 10px;
}

.icons form:hover .search_field {
	display: inline-block;
	width: 200px;
	height: 24px;
	border-radius: 5px;
	border: 2px groove black;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	background: none;
	position: absolute;
	top: 15px;
	right: -201px;
	z-index: 1;
	padding-left: 10px;
}

/*Main_banner*/

.banner {
	display: flex;
	flex-direction: column;
	margin-top: 275px;
}

.leftarrow {
	position: absolute;
	top: 480px;
	left: 150px;
	z-index: 1;
}
.rightarrow {
	position: absolute;
	top: 480px;
	right: 150px;
	z-index: 1;
}

.banner_slogan {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Unique_and_Modern_Design {
	font-size: 36px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	margin-left: 15px;
}

.Portfolio_PSD_Template {
	font-size: 52px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.Nam_liber_tempor_cum_soluta_nobis_eleifend_opti {
	display: block;
	font-size: 15px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: center;
	width: 562px;
	margin-top: 5px;
	margin-left: 25px;
}

.Get_Started {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 53px;
	background: #998675;
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.643;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	margin-top: 50px;
}

.Get_Started:hover {
	color: orange;
}

.banner form {
	display: flex;
	align-items: center;
	width: 100px;
	position: absolute;
	bottom: 40px;
	left: 908px;
}

.banner form input {
	margin-right: 10px;
	height: 15px;
	width: 15px;
	background: rgb(148, 148, 148);
}

.banner form input:hover {
	cursor: pointer;
	border: 5px solid rgb(193, 177, 160);
	opacity: 0.3;
}

/*Services*/

.Services {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: rgb(255, 255, 255);
}

.Services div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
	margin-top: 81px;
	margin-bottom: 81px;
}

.Services figcaption {
	font-size: 22px;
	font-family: "Raleway";
	color: rgb(85, 85, 85);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
}

.Services figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Services p {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.714;
	text-align: center;
	margin-bottom: 30px;
}

.Development figcaption {
  color: rgb(199, 178, 153);
}

.development_icon {
	margin-left: 10px;
}

.services_line {
	width: 70px;
	height: 3px;
}
/*Waxom_is_Realization_of_your_Ideas*/

.Waxom_is_Realization_of_your_Ideas {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: url(../img/Waxom_is_Realization_of_your_Ideas.png) center;
	background-size: cover;
	padding-bottom: 508px;
}

.Waxom_is_Realization_of_your_Ideas_h2 {
	font-size: 30px;
	font-family: "Raleway";
	color: rgb(85, 85, 85);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	margin-top: 78px;
	margin-bottom: 22px;
}

.Waxom_is_Realization_of_your_Ideas_paragraphs{
	font-size: 16px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.75;
	text-align: center;
}


/*Text Boxes*/

.text_boxes_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: url(../img/text_boxes_background.png);
}

.text_boxes_paragraphs {
	margin-top: 47px;
	margin-bottom: 47px;
	margin-right: 470px;
}
.Waxom_Multipurpose_WordPress_Theme {
	font-weight: 400;
	font-size: 28px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: left;
}

.Waxom_Multipurpose_WordPress_Theme span {
	color: rgb(199, 178, 153);
}

.Don_t_Forget_to_Rate_the_Template__Thanks_so_much_ {
	font-size: 17px;
	font-family: "Montserrat";
	color: rgb(97, 88, 85);
	line-height: 1.2;
	text-align: left;
	margin-top: 5px;
}

.Purchase_Now {
	display: flex;
	align-items: center;
	text-decoration: none;
	height: 50px;
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.643;
	text-align: center;
	background: #998675;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 28px;
	padding-right: 28px;
}

.Purchase_Now:hover {
	color: orange;
}

/*Our latest projects*/

.our_latest_projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

}

.our_latest_projects h2 {
	font-size: 30px;
	font-family: "Raleway";
	color: rgb(85, 85, 85);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 17px;
	margin-top: 77px;
}

.our_latest_projects .Investigationes_demonstraverunt_lectores_legere {
	font-size: 16px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.75;
	text-align: center;
	margin-bottom: 40px;
}

/*buttons*/

.All {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: center;
	background: #998675 !important;
	padding-left: 25px;
	padding-right: 25px;
}

.Web_Design {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.5;
	text-align: center;
	padding-left: 11px;
	padding-right: 11px;
}

.Mobile_App {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.5;
	text-align: center;
	padding-left: 19px;
	padding-right: 19px;
}

.Illustration {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.5;
	text-align: center;
	padding-left: 21px;
	padding-right: 21px;
}

.Photography {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.5;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.local_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.local_menu button {
	border-radius: 5px;
	border: 1px solid rgb(235,235,235);
	background: rgb(255,255,255);
	margin-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	cursor: pointer;
}

.our_latest_projects form button:hover {
	color: orange;
}

/*Projects*/

.project_wrapper_1-3,
.project_wrapper_4-6 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.project_link,
.project_lupa {
	display: none;
}

.project_2:hover .project_link {
	display: block;
	position: absolute;
	top: 105px;
	left: 145px;
	z-index: 6;
}

.project_2:hover .project_lupa {
	display: block;
	position: absolute;
	top: 105px;
	right: 150px;
	z-index: 6;
}

.project_1,
.project_2,
.project_3,
.project_4,
.project_5,
.project_6 {
	position: relative;
	background: #fbfaf8;
}

.project_1::before,
.project_2::before,
.project_3::before,
.project_4::before,
.project_5::before,
.project_6::before {
	content: "";
	border: 20px solid transparent;
	border-bottom: 15px solid #fbfaf8;
	position: absolute;
	bottom: 100px;
	left: 15px;
	z-index: 5;
}

.project_1:hover,
.project_2:hover,
.project_3:hover,
.project_4:hover,
.project_5:hover,
.project_6:hover {
	background: #362f2d;
}

.project_1:hover::before,
.project_2:hover::before,
.project_3:hover::before,
.project_4:hover::before,
.project_5:hover::before,
.project_6:hover::before {
	content: "";
	border: 20px solid transparent;
	border-bottom: 15px solid #362f2d;
	position: absolute;
	bottom: 100px;
	left: 15px;
	z-index: 1;
}

.project_1,
.project_2,
.project_4,
.project_5 {
	margin-right: 30px;
}

.project_1,
.project_2,
.project_3 {
	margin-bottom: 30px;
}

.project_article_headers {
	font-size: 20px;
	font-family: "Raleway";
	color: rgb(199, 178, 153);
	line-height: 1.2;
	text-align: left;
	margin-left: 30px;
	margin-top: 22px;
}

.project_article_paragraphs {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(209, 209, 209);
	line-height: 1.429;
	text-align: left;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 30px;
}

.Load_More_form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 80px;
}

.Load_More {
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.75;
	text-align: center;
	background: #998675;
	padding: 13px 45px;
	border-radius: 5px;

}

/*Video section*/

.video{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 705px;
	position: relative;
}

.video video {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

.video form {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: rgba(83,90,94,0.6);
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
}

.video button {
	background: none;
}

.video h2 {
	font-size: 30px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	margin-bottom: 15px;
	padding-left: 10px;
	font-weight: 400;
}

.video p {
	font-size: 16px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	line-height: 1.75;
	text-align: center;
	padding-left: 30px;

}

._03_26 {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(199, 178, 153) !important;
	line-height: 1.714;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 10px;
}


/*Iphone section*/

.iphone_version {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #fbfaf8;
}

.iphone_pic {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-left: 60px;
	margin-right: 20px;
}

.iphone_pic img {
	margin-top: 79px;
}

.Excellent_for_Mobile_Devices_ {
	margin-top: 190px
}

.Excellent_for_Mobile_Devices_ h2 {
	font-size: 30px;
	font-family: "Raleway";
	color: rgb(85, 85, 85);
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
}

.Excellent_for_Mobile_Devices_ ul {
	margin-top: 30px;
	margin-bottom: 174px;
}

.Excellent_for_Mobile_Devices_ ul li {
	display: block;
	list-style: none;
	font-size: 16px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 2;
	text-align: left;
}

.Excellent_for_Mobile_Devices_ ul li p {
	display: flex;
	align-items: center;
}

.Excellent_for_Mobile_Devices_ ul li p::before {
	display: flex;
	height: 21px;
	content: url(../img/iphone_arrows.png);
	margin-right: 30px;
	margin-left: 50px;
}

.Qisi_enim_ad_minim_veniam__quis_nostrud_exerci_ {
	font-size: 16px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.75;
	text-align: left;
	margin-top: 25px;
}

/*Counters*/

.counters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: url(../img/background_counters.png);
}

.counter_1,
.counter_2,
.counter_3,
.counter_4,
.counter_5 {
	display: block;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 60px;
}

.counter_1 {
	margin-right: 70px;
}

.counter_2 {
	margin-right: 70px;
}

.counter_3 {
	margin-right: 100px;
}

.counter_4 {
	margin-right: 105px;
}

.numbers {
	font-size: 48px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	line-height: 0.75;
	margin-top: 27px;
}

.signature {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(199, 178, 153);
	text-transform: uppercase;
	line-height: 1.429;
	margin-top: 20px;
}

.lines_for_counters {
	margin-top: 30px;
}

.satisfiedclients_lines{
	padding-top: 30px;
}

/*Resent posts*/

.Recent_Posts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Recent_posts_h2 {
	font-size: 30px;
	font-family: "Raleway";
	color: rgb(85, 85, 85);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 15px;
}

.Recent_Posts .Investigationes_demonstraverunt_lectores_legere {
	font-size: 16px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.75;
	text-align: center;
	margin-bottom: 40px;
}

.article_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.article_wrapper article {
	display: block;
	position: relative;
	z-index: 0;
}

.article_wrapper article img {
	display: block;
	position: relative;
}

.recent_posts_first_article:hover,
.recent_posts_second_article:hover,
.recent_posts_third_article:hover {
	background: rgb(54,47,45);
}

.recent_posts_first_article:hover ._30,
.recent_posts_second_article:hover ._30,
.recent_posts_third_article:hover ._30 {
	background: rgb(199,178,153);
}

.recent_posts_first_article:hover .Sep_,
.recent_posts_second_article:hover .Sep_,
.recent_posts_third_article:hover .Sep_ {
	background: rgb(164,141,114);
}

.recent_posts_first_article:hover .Lorem_ipsum_dolor_sit_amet,
.recent_posts_second_article:hover .Lorem_ipsum_dolor_sit_amet,
.recent_posts_third_article:hover .Lorem_ipsum_dolor_sit_amet {
  color: rgb(199, 178, 153);
}

.recent_posts_first_article:hover .Claritas_est_etiam_processus_dynamicus__qui_seq_1,
.recent_posts_second_article:hover .Claritas_est_etiam_processus_dynamicus__qui_seq_1,
.recent_posts_third_article:hover .Claritas_est_etiam_processus_dynamicus__qui_seq_1 {
  color: rgb(255, 255, 255);
}

.recent_posts_first_article,
.recent_posts_second_article {
	margin-right: 30px;
}

.article_sliders {
	position: absolute;
	z-index: 10;
	top: 185px;
	left: 135px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.article_sliders img {
	margin-right: 7px;
}

.banner_pic_2 img {
	height: 15px;
	width: 15px;
}

.recent_posts_arrows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
	width: 55px;
}

._30 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	line-height: 0.833;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 20px;
	background: rgb(54,54,54);
	z-index: 1;
	width: 50px;
	height: 35px;
}

.Sep_ {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-family: "Roboto";
	color: rgb(255, 255, 255);
	line-height: 1.667;
	text-align: center;
	position: absolute;
	top: 55px;
	left: 20px;
	z-index: 1;
	background: rgb(37,37,37);
	width: 50px;
	height: 35px;
}

.Lorem_ipsum_dolor_sit_amet {
	font-size: 20px;
	font-family: "Raleway";
	color: rgb(85, 85, 85);
	line-height: 1.2;
	text-align: left;
	margin-left: 30px;
	margin-top: 30px;
}

.Claritas_est_etiam_processus_dynamicus__qui_seq_1 {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(140, 140, 140);
	line-height: 1.571;
	text-align: left;
	margin-left: 30px;
	margin-top: 20px;
}

.Recent_posts_read_more {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(199, 178, 153);
	line-height: 1.429;
	text-align: left !important;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 35px;
}

.Recent_posts_read_more:hover {
	color: orange;
}

.Recent_posts_read_more::after {
	content: url(../img/recent_posts_read_more_arrow.png);
	margin-left: 7px;
}

/*Partners*/

.our_partners {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: url(../img/partners.png) no-repeat;
	padding-top: 137px;
	padding-bottom: 136px;
	padding-left: 20px;
}

.our_partners figure {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.our_partners figure img {
	display: inline-block;
	margin-right: 90px;
}

.royal {
	margin-right: 0 !important;
}

/*Footer*/

.additional_information {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #191919; 
}

.waxom_about {
	margin-right: 42px;
}

.waxom_about img {
	margin-top:5px;
}

.waxom_about a {
	display: inline-block;
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(209, 209, 209);
	line-height: 1.429;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 60px;
}

.waxom_about a::after {
	margin-left: 10px;
	content: url(../img/read_more.png);
}

.waxom_about a:hover {
	color: orange;
}

.logo_footer {
	display: block;
	float: left;
	width: 64px;
	height: 57px;
}

.logo_text_footer {
	display: inline-block;
	padding-top: 10px;
}

.waxom_about p {
	clear: both;
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(85, 85, 85);
	line-height: 1.714;
	text-align: left;
	width: 258px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.recent_posts h2,
.our_twitter h2,
.dribble_widget h2 {
	font-size: 24px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: left;
	margin-top: 26px;
}

.recent_posts {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

.post_1 {
	margin-top: 15px;
}

.post_1::after {
	display: block;
	content: url(../img/line_1.png);
	margin-top: 10px;
}

.post_2::after {
	display: block;
	content: url(../img/line_2.png);
	margin-top: 10px;
}

.September_08__2015 {
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(54, 54, 54);
	line-height: 1.667;
	text-align: left;
	padding-bottom: 5px;
	margin-top: 6px;
}

.September_08__2015 span {
	color: rgb(255, 255, 255);
}

.Lorem_ipsum_dolor_sit_amet__consectetuer_adipis {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(85, 85, 85);
	line-height: 1.429;
	text-align: left;
}

.Diam_nonummy_nibh_euismod_tincidunt_ut_laoreet_ {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(199, 178, 153);
	line-height: 1.429;
	text-align: left;
}

.Diam_nonummy_nibh_euismod_tincidunt_ut_laoreet span {
	color: rgb(199, 178, 153);
}

.Claritas_est_etiam_processus_dynamicus__qui_seq {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(85, 85, 85);
	line-height: 1.429;
	text-align: left;
}

.our_twitter {
	display: flex;
	flex-direction: column;
	margin-right: 32px;
}

.our_twitter h2{
	margin-bottom: 20px;
}

.tweet_2 {
	margin-top: 5px;
}

.tweet_3 {
	margin-top: 7px;
}

._waxom_Cum_soluta_nobis_eleifend_option_congue span a,
.Mirum_est__envato_notare_quam_littera_gothica__ span a,
.Soluta_nobis_option_bit_ly_1Hniso7 span a {
	text-decoration: none;
}

._waxom_Cum_soluta_nobis_eleifend_option_congue span a:hover,
.Mirum_est__envato_notare_quam_littera_gothica__ span a:hover,
.Soluta_nobis_option_bit_ly_1Hniso7 span a:hover {
	color: orange;
}

.tweet_1::after {
	display: block;
	content: url(../img/line_1.png);
	margin-top: 10px;
}

.tweet_2::after {
	display: block;
	content: url(../img/line_2.png);
	margin-top: 10px;
}

._waxom_Cum_soluta_nobis_eleifend_option_congue {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(85, 85, 85);
	line-height: 1.429;
	text-align: left;
}
._waxom_Cum_soluta_nobis_eleifend_option_congue span a,
.Mirum_est__envato_notare_quam_littera_gothica__ span a {
	color: rgb(0, 191, 243);
}

._3_mins_ago,
._5_hours_ago,
._20_days_ago {
	margin-top: 6px;
}

._3_mins_ago {
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(54, 54, 54);
	line-height: 1.667;
	text-align: left;
	margin-bottom: 10px;
}

.Mirum_est__envato_notare_quam_littera_gothica__ {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(85, 85, 85);
	line-height: 1.429;
	text-align: left;
}

.Soluta_nobis_option_bit_ly_1Hniso7 span a {
	color: #959595;
}

._5_hours_ago {
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(54, 54, 54);
	line-height: 1.667;
	text-align: left;
}

.Soluta_nobis_option_bit_ly_1Hniso7 {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(85, 85, 85);
	line-height: 1.429;
	text-align: left;
}

._20_days_ago {
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(54, 54, 54);
	line-height: 1.667;
	text-align: left;
}

.dribble_widget {
	margin-right: 42px;
}

.dribble_widget h2 {
	margin-bottom: 25px;
}

.dribble_widget figure {
	margin-top: 10px;
}

.dribble_widget figure img:first-child {
	margin-right: 10px;
}

.dribble_widget img {
	transition: transform 1.5s ease 0.5s;
}

.dribble_widget img:hover {
	transform: scale(1.2) rotate(360deg);
}

/*Second part of footer*/

.copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	background: #111111;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 13px;
	font-family: "Montserrat";
	color: rgb(85, 85, 85);
	line-height: 1.538;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right: 400px;
}

.designed_by {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 13px;
	font-family: "Montserrat";
	color: rgb(85, 85, 85);
	line-height: 1.538;
	margin-right: 50px;
}

.breadcrumbs {
	display: block;
	margin-right: 40px;
}

.breadcrumbs li a{
	text-decoration: none;
	color: #3e3e3e;
}

.breadcrumbs li {
	display: inline-block;
	list-style: none;
}

.breadcrumbs li::before {
	content: "|";
	color: rgb(85, 85, 85);
	margin-left: 10px;
	margin-right: 10px;
}

.breadcrumbs a:hover {
	color: orange;
}

.FAQ {
	color: rgb(199, 178, 153) !important;
}

.additional_breadcrumb::before {
	content: "|";
	color: rgb(85, 85, 85);
	margin-left: 15px;
	margin-right: 10px;
}

.designed_by span a {
	text-decoration: none;
	color: #959595;
}

.designed_by span a:hover {
	color: orange;
}